@font-face{
    font-family: "NHaasGroteskDSP-light";
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NHaasGroteskDSPro-45Lt\ copy.ttf);
  
}

@font-face{
    font-family: "NHaasGroteskDSP-elight";
    font-weight: normal;
    font-style: normal;
    src: url(../Fonts/NHaasGroteskDSPro-35XLt\ copy.ttf);
  
}

@font-face{
    font-family: "NHaasGroteskDSP-medium";
    font-weight: bold;
    font-style: normal;
    src: url(../Fonts/NHaasGroteskDSPro-65Md\ copy.ttf);
  
}

@font-face{
    font-family: "NHaasGroteskDSP-roman";
    font-weight: regular;
    font-style: normal;
    src: url(../Fonts/NHaasGroteskDSPro-55Rg\ copy.ttf);
  
}
